<!DOCTYPE html>
<html>
<head>
    <title>TripSplitter</title>
    <script src="{{ underscore_js }}"></script>
    <script src="{{ jquery_js }}"></script>
    <script src="{{ json2_js }}"></script>
    <script src="{{ backbone_js }}"></script>
    <link rel="stylesheet" href="{{ index_css }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
    </div>
    
    <div class="leftArea">
        <ul id="tripList"></ul>
    </div>
    
    <div id="mainArea"></div>
    
    <script type="text/template" id="header">
        <button class="home">Home</button>
        <button class="new">New Trip</button>
    </script>
    
    <script type="text/template" id="trip-list-item">
        <a href='#trips/<%= id %>'><%= name %></a>
    </script>
    
    <script type="text/template" id="trip-details">
        <div class="form-left-col">
            <label>Key:</label>
            <input id="tripId" name="id" type="text" value="<%= id %>" disabled />
            
            <label>Name:</label>
            <input type="text" id="name" value="<%= name %>" required/>
            
            <label>Password:</label>
            <input type="text" id="password" value="<%= password %>" required/>
            
            <label>Start Date:</label>
            <input type="text" id="start_date" value="<%= start_date %>" />
            
            <label>End Date:</label>
            <input type="text" id="end_date" value="<%= end_date %>" />
            
            <label>Travelers:</label>
            <input type="text" id="travelers" value="<%= travelers %>" />
            
            <button class="save">Save</button>
            <button class="delete">Delete</button>
        </div>
        
        <div class="form-right-col">
            <table id="expenseList"></table>
            <div id="newExpense"></div>
        </div>
    </script>
    
    <script type="text/template" id="expense-list-header">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Cost</th>
            <th></th>
        </tr>
    </script>

    <script type="text/template" id="expense-list-item">
        <td><%= expense_date %></td>
        <td><%= description %></td>
        <td>$<%= value %></td>
        <td><button class="deleteexpense">del</button></td>
    </script>
    
    <script type="text/template" id="expense-list-footer">
        <tfoot><tr>
            <td colspan="4"><button class="newexpense">New Expense</button></td>
        </tr></tfoot>
    </script>

    <script type="text/template" id="new-expense-list-item">
        <label>Date:</label>
        <input type="text" id="expense_date" value="<%= expense_date %>" />
        
        <label>Description</label>
        <input type="text" id="description" value="<%= description %>" />
        
        <label>Cost</label>
        $<input type="text" id="value" value="<%= value %>" />
        
        <label>Payer</label>
        <input type="text" id="payer" value="<%= payer %>" />
        
        <label>Travelers</label>
        <input type="text" id="expensetravelers" value="<%= travelers %>" />
        
        <button class="saveexpense">Save</button>
    </script>
    
    <script src="{{ tripsplitter_js }}"></script>
</body>
</html>