<!DOCTYPE html>
<html>
<head>
    <title>TripSplitter</title>
    <script src="{{ underscore_js }}"></script>
    <script src="{{ jquery_js }}"></script>
    <script src="{{ json2_js }}"></script>
    <script src="{{ backbone_js }}"></script>
    <link rel="stylesheet" href="{{ index_css }}" />
</head>
<body>
    <div class="header">
    </div>
    
    <div class="leftArea">
        <ul id="tripList"></ul>
    </div>
    
    <div id="mainArea"></div>
    
    <script type="text/template" id="header">
        <button class="new">New Trip</button>
    </script>
    
    <script type="text/template" id="trip-list-item">
        <li><a href='#trips/<%= id %>'><%= name %></a></li>
    </script>
    
    <script type="text/template" id="trip-details">
        <div class="form-left-col">
            <label>Key:</label>
            <input id="tripId" name="id" type="text" value="<%= id %>" disabled />
            
            <label>Name:</label>
            <input type="text" id="name" value="<%= name %>" required/>
            
            <label>Password:</label>
            <input type="text" id="password" value="<%= password %>" required/>
            
            <label>Start Date:</labe>
            <input type="text" id="start_date" value="<%= start_date %>" />
            
            <button class="save">Save</button>
            <button class="delete">Delete</button>
        </div>
        
        <div class="form-right-col">
        
        </div>
    </script>
    
    <script src="{{ tripsplitter_js }}"></script>
</body>
</html>